BOT_TOKEN=
QRIS_TOKEN=
QRIS_TOPUP_URL=https://qris.zakki.store/topup
QRIS_STATUS_URL=https://qris.zakki.store/cektopup
QRIS_CANCEL_URL=https://qris.zakki.store/cancel
PRICE=1000
STOCK_TOTAL=102
PRODUCT_SPEC=NAT | Unlimited
ADMIN_IDS=
TESTI_GROUP_ID=
SHOP_NAME=VPS NAT Store
PAYMENT_POLL_SECONDS=15
PAYMENT_TIMEOUT_MINUTES=10
